{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 51.1638175,
    "longitude": 10.4478313,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Berlin",
    "external_url": null,
    "internal_url": "http://localhost:8123",
    "currency": "EUR",
    "country": "DE",
    "language": "en",
    "radius": 100
  }
}